# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
venv/

# Environment
.env

# Storage
storage/*
!storage/.gitkeep

# Alembic cache
alembic/versions/*.pyc

# Logs
*.log

# OS
.DS_Store

