# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
venv/

# Environment
.env

# Storage runtime data
storage/*
!storage/.gitkeep

# keep structure
!storage/models/
!storage/uploads/
!storage/results/

# keep placeholder files
!storage/models/.gitkeep
!storage/uploads/.gitkeep
!storage/results/.gitkeep

# Alembic cache
alembic/versions/*.pyc

# Logs
*.log
*.pid

# OS
.DS_Store

holddetection-api.service
holddetection-worker.service


tnega/*
