alembic==1.13.2
argon2-cffi==25.1.0
fastapi==0.115.0
pillow==11.3.0
psycopg-binary==3.2.1
pydantic==2.8.2
pydantic-settings==2.4.0
PyJWT==2.12.1
python-multipart==0.0.9
SQLAlchemy==2.0.34
torch==2.10.0
torchvision==0.25.0
ultralytics==8.3.218
uvicorn==0.30.6
